.card-payment-content {
    max-height: 3rem;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
    width: 80%;
}

.card-payment-generation {
    background-color: #ffffff;
    box-shadow: 1rem 1rem 4rem #cbcbcb;
}