.cell-topup-amount {
    color: #4A9AFE
}

.cell-payment-amount {
    color: #676767
}

.table-container {
    width: inherit;
}

.table {
    min-width: 40rem;
}

.table-pagination {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.emptyPageIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}