.card-balance {
    margin-bottom: 1rem;
}

.card-content {
    max-height: 3.5rem;
    display: flex;
    position: relative;
    align-items: center;
}

.balance-info {
    display: inline-block;
    min-width: 25rem;
}

.home-components-info {
    display: inline-block;
    min-width: 7rem;
}

.wallet-balance {
    font-size: 1.5rem;
    font-weight: 500;
}

.wallet-title {
    font-size: 1rem;
    font-weight: 300;
}

.wallet-icon {
    padding-right: 1.5rem;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
}

.balance-card-content {
    width: 100%;
    padding-left: 3rem;
}