.card-generate-pdf {
    margin-top: 1rem;
    width: 100%;
    align-items: flex-start;
    padding: 0;
}

.button-generate-pdf {
    margin: 1rem 0 0;
}

.report-date {
    display: flex;
    gap: 1rem;
    width: 10rem;
}

.report-end-date {
    padding-top: 1rem;
    gap: 1rem;
}

.select-date {
    height: 2rem;
    background-color: #F3F3F3;
    box-shadow: 0 0 1.5rem 0.05rem rgba(0, 0, 0, 0.15);
    padding: 0;
    border-radius: 0.5rem;
}

.container-select-end-date {
    padding-left: 1.2rem;
}

.card-content-pdf {
    display: inline-block !important;
    padding: 0;
    margin: 1.5rem 1.5rem 6rem;
    width: inherit;
}

.date {
    display: flex;
    gap: 14rem;
    width: inherit;
}