.footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    box-shadow: 0 -0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    clip-path: inset(-15px 0px 0px 0px);
}