.card-generation-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #747474;
    width: 80%;
    height: 80%;
    border-radius: 1rem;
    border: 0.1rem solid #747474;
}

.card-generation {
    height: 25rem;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1rem 1rem 4rem #cbcbcb;
}

.icon-qr {
    color: #747474;
    font-size: 3rem;
}