.main-container {
    display: flex;
    min-height: 70vh;
}

.content-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.components-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F3F3;
}