.mobile-logo {
    display: flex;
}

@media (min-width: 900px) {
    .mobile-logo {
        display: none;
    }
}

.mobile-logo-typography {
    flex-grow: 1;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: .3rem;
    color: black;
    text-decoration: none;
}
